@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: #4338ca;
  --color-primary-content: #ffffff;
  --color-base-100: #0d1117;
  --color-base-200: #161b22;
  --color-base-300: #21262d;
  --color-base-content: #c9d1d9;
}

@plugin "daisyui/theme" {
  name: "light";
  --color-primary: #5c6bc0;
  --color-primary-content: #ffffff;
  --color-base-100: #f6f8fa;
  --color-base-200: #eaeef2;
  --color-base-300: #d0d7de;
  --color-base-content: #1c2128;
}